@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/*Variables */
/*Colours*/
/*Other */
/*Margins */
/*Z Index */
/*Base */
/*Css class */
/*Layout */
/*NAV */
/* */
/* */
/* */

*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}